.appName {
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
    color: #9A9A9A;
    font-family: baby;
    margin: 20px 0 0 170px;

    @media screen and (max-width:950px) {
        margin: 20px 0 0 200px;
    }

    @media screen and (max-width:700px) {
        font-size: 20px;
        margin: 25px 0 0 160px;
    }

    @media screen and (max-width:500px) {
        display: none;
    }
}


@font-face {
    font-family: baby;
    src: url(../font/BabyGirly.ttf);
}