.appName {
    position: absolute;
    font-size: 35px;
    top: 0;
    left: 0;
    color: #9A9A9A;
    font-family: baby;
    margin: 20px 0 0 170px;

    @media screen and (max-width:950px) {
        margin: 20px 0 0 200px;
    }

}


@font-face {
    font-family: baby;
    src: url(../font/BabyGirly.ttf);
}