

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(100deg , rgb(229,233,214) , rgb(122, 217,235));
    @include dflex();
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    font-family: burger;
    margin: 0 100px;

    @media screen and (max-width:900px){
        justify-content: center;
        margin: 0 80px;

}
}



@font-face {
    font-family: burger;
    src: url(../font/NewBurger.ttf);
}