

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(100deg , rgb(229,233,214) , rgb(122, 217,235));
    @include dflex();
    padding: 50px 100px;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    font-family: burger;
}

@font-face {
    font-family: burger;
    src: url(../font/NewBurger.ttf);
}