.dock {
    width: 400px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.556);
    position: absolute;
    bottom: 20px;
    right: calc(50% - 200px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;


    @media screen and (max-width:600px) {
        width: 60%;
        right: 20%;
    }
    @media screen and (max-width:500px) {
        height: 35px;
        font-size: 15px;
    }


    &__todolist,
    .dock__notes,
    .dock__focus {
        width: 33%;
        height: 100%;
        @include dflex();
        cursor: pointer;

    }

}