.tools {

    &__focus {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        &__song {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position-y: 100%;
            background-repeat: no-repeat;
            position: relative;
            transition: 500ms;

            &:hover{
                transform: scale(1.1);
                transition: 500ms;
            }


            &__layer{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 10000;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.351);
                color: rgba(255, 255, 255, 0.764);
                display: flex;
                align-items: center;
                justify-content: center;
                 
                & p{
                    transition: 500ms;
                    font-size: 25px;
                    font-family: songs;
                    border: .5px solid;
                    padding: 5px 12px;
                }

                @font-face {
                    font-family: songs;
                    src: url(../font/dw-futura-light.woff2);
                }

                &:hover p{
                    transform: scale(0.9);
                    transition: 500ms;
                }
    
            }
        }

    }



}


.songContainer{
    width: 100%;
    height: calc(100% /6.05);
    overflow: hidden;
}


#focus-1{
    background-image: url(../images/blur-river.jpeg);
}
#focus-2{
    background-image: url(../images/fire.jpeg);
}
#focus-3{
    background-image: url(../images/forest.jpeg);
}
#focus-4{
    background-image: url(../images/rain.jpeg);
}
#focus-5{
    background-image: url(../images/view.jpeg);
}
#focus-6{
    background-image: url(../images/waterfall.jpeg);
}



.focusScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 60000000;
    border-radius: 50px;
    background-color: black;
}