.tools {

    &__focus {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;



        &__song {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position-y: 100%;
            background-repeat: no-repeat;
            position: relative;
            transition: 500ms;
            cursor: pointer;


            &:hover {
                transform: scale(1.1);
                transition: 500ms;
            }


            &__layer {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 10000;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.351);
                color: rgba(255, 255, 255, 0.764);
                display: flex;
                align-items: center;
                justify-content: center;

                & p {
                    transition: 500ms;
                    font-size: 25px;
                    font-family: songs;
                    border: .5px solid;
                    padding: 5px 12px;
                }

                @font-face {
                    font-family: songs;
                    src: url(../font/dw-futura-light.woff2);
                }

                &:hover p {
                    transform: scale(0.9);
                    transition: 500ms;
                }

            }
        }

    }



}


.songContainer {
    width: 100%;
    height: calc(100% /6.05);
    overflow: hidden;
}


#focus-1 {
    background-image: url(../images/blur-river.jpeg);
}

#focus-2 {
    background-image: url(../images/fire.jpeg);
}

#focus-3 {
    background-image: url(../images/forest.jpeg);
}

#focus-4 {
    background-image: url(../images/rain.jpeg);
}

#focus-5 {
    background-image: url(../images/view.jpeg);
}

#focus-6 {
    background-image: url(../images/waterfall.jpeg);
}



.focusScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 600;
    border-radius: 50px;
    background-color: inherit;
    background-image: url(../images/focus-1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;


    &__player {
        width: 95%;
        height: 13%;
        border-radius: 50px;
        margin: 2% auto 0;
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, 0.275);
        box-shadow: 1px 1px 1rem black;
        color: rgba(255, 255, 255, 0.752);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;

    }


    &__timer {
        position: absolute;
        top: calc(55% - 100px);
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, 0.275);
        box-shadow: 1px 1px 1rem black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.852);
        font-family: songs;
        font-size: 30px;

        &__time {
            margin-bottom: 10px;
        }

        & i {
            font-size: 25px;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: 300ms;
            }
        }

    }
}

.reset{
    color: white;
    font-family: songs;
    font-size: 20px;
    position: absolute;
    bottom: -35%;
    transition: 300ms;
    padding: 10px;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
        transition: 300ms;
    }
}

#playSong {
    margin: 0 30px 0 35px;
    font-size: 34px;
}



.circular-chart {
    width: 225px;
    height: 225px;
    position: absolute;
    z-index: -1;
}

.circle {
    stroke: #ffffff;
    fill: none;
    stroke-width: 0.3;
    stroke-linecap: round;
    animation: progress 1500s linear forwards reverse paused;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}


.disabled{
    color: gray;
    pointer-events: none;
    &:hover {
        color: gray;
        transform: scale(1);
    }
}