.search{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.556);
    width: 170px;
    height: 35px;
    padding: 0 20px;
    margin: 20px 110px 0 0;

    @media screen and (max-width:600px) {
        margin-right: 50px;
      }

      @media screen and (max-width:500px) {
        padding: 0 15px;
        width: 25%;
        height: 25px;
        margin-top: 25px;
        font-size: 10px;
    }

    &:focus-visible{
        border: none;
        outline: 2px solid $orange;
    }
}