.tasks {
    @include dflex();
    border-radius: 50px;
    box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.556);
    width: 75%;
    height: 78vh;


    @media screen and (max-width:950px) {
        width: 100%;
    }


    &__header {
        width: 100%;
        height: 30%;
        @include dflex();
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        @media screen and (max-width:600px) {
            padding: 0 30px;
        }

        @media screen and (max-width:500px) {
            padding: 0 20px;
            height: 22%;
        }



        &__date {
            height: 90%;
            position: relative;
            @include dflex();
            font-family: Arial, Helvetica, sans-serif;


            &__weekDay {
                font-size: 4.5rem;
                font-weight: 700;
                text-align: center;
                margin: 0;
                line-height: 1;

                @media screen and (max-width:600px) {
                    font-size: 4rem;
                }

                @media screen and (max-width:500px) {
                    font-size: 2.5rem;
                }


                & span {
                    font-size: 60px;

                    @media screen and (max-width:600px) {
                        font-size: 50px;
                    }

                    @media screen and (max-width:500px) {
                        font-size: 30px;
                    }
                }
            }


            &__dayMonth {
                position: absolute;
                z-index: 100;
                right: -30px;
                text-align: center;
                top: 33%;
                font-weight: 700;
                line-height: .9;

                @media screen and (max-width:500px) {
                    right: -10px;
                    top: 40%;
                }

                &__day {
                    margin: 0;
                    font-size: 45px;

                    @media screen and (max-width:600px) {
                        font-size: 35px;
                    }

                    @media screen and (max-width:500px) {
                        font-size: 20px;
                    }
                }

                &__month {
                    margin: 0;
                    font-size: 35px;
                    margin-left: 50px;

                    @media screen and (max-width:600px) {
                        font-size: 25px;
                    }

                    @media screen and (max-width:500px) {
                        font-size: 16px;
                        margin-left: 20px;
                    }
                }
            }

        }


        &__add {
            width: 55%;
            display: flex;
            flex-direction: column;

            & div {
                display: flex;
                align-items: center;
            }

            &__warning {
                margin: 10px 0 0 20px;
                color: rgba(255, 0, 0, 0.793);

            }

            &__newTask {
                border: none;
                height: 50px;
                width: 75%;
                border-radius: 50px;
                padding: 0 20px;

                @media screen and (max-width:500px) {
                    height: 35px;
                    font-size: 10px;
                }
            }

            &__addBtn {
                border: none;
                height: 50px;
                width: 25%;
                border-radius: 50px;
                margin-left: 8px;
                font-weight: 700;
                transition: 300ms;

                @media screen and (max-width:500px) {
                    height: 35px;
                    font-size: 10px;
                    margin-left: 4px;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: 300ms;
                }
            }
        }

    }

    &__body {
        height: 70%;
        width: 100%;
        padding: 0 40px;
        overflow-y: scroll;
        margin-bottom: 5px;

        @media screen and (max-width:600px) {
            padding: 0 30px;
        }

        @media screen and (max-width:500px) {
            padding: 0 20px;
            height: 78%;
        }



        &__task {
            width: 100%;
            height: 50px;
            border-radius: 50px;
            margin: 12px auto;
            @include dflex();
            flex-direction: row;
            justify-content: flex-start;
            position: relative;
            @media screen and (max-width:500px) {
                height: 35px;
                font-size: 16px;
            }

            & svg {
                width: 20px;

                @media screen and (max-width:500px) {
                    width: 15px;
                    margin-left: 30px;
                }
            }


            &__check {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 5px solid;
                margin: 5px;

                @media screen and (max-width:500px) {
                    height: 30px;
                    width: 30px;
                    border: 3px solid;
                    margin: 2.5px;
                }
            }


            &__content {
                display: inline-block;
                margin-left: 20px;
            }
        }
    }
}


.addbtnHover {
    transform: scale(1.05);
    transition: 300ms;
}

.more {
    width: 60px;
    height: 60px;
    position: absolute;
    box-shadow: 1px 1px 1rem rgb(82, 82, 82);
    right: -35px;
    top: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 100;
    background-color: inherit;
    display: none;
}

.remove,
.edit {
    margin: 0;
    cursor: pointer;
}

.show {
    display: flex;
}

.svg {
    width: 30px;
    height: 30px;
    @include dflex();
    position: absolute;
    right: 20px;
}


@font-face {
    font-family: burger;
    src: url(../font/NewBurger.ttf);
}