.tasks {
    @include dflex();
    border-radius: 50px;
    box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.556);
    width: 75%;
    height: 78vh;
    background-color: $white;
    overflow: hidden;
    

    &__header {
        width: 100%;
        height: 30%;
        background-color: $blue;
        @include dflex();
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;



        &__date{
            height: 90%;
            position: relative;
            @include dflex();
            font-family: Arial, Helvetica, sans-serif;

            &__weekDay{
                font-size: 70px;
                font-weight: 700;
                text-align: center;
                color: rgba(255, 255, 255, 0.531);
                margin: 0;
                line-height: 1;

                & span{
                    font-size: 60px;
                }
            }


            &__dayMonth{
                position: absolute;
                z-index: 100;
                right: -30px;
                text-align: center;
                top: 33%;
                font-weight: 700;
                line-height: .9;

                &__day{
                    margin: 0;
                    font-size: 45px;
                    color: $orange;
                }

                &__month{
                    margin: 0;
                    font-size: 35px;
                    margin-left: 50px;
                    color: $light-orange;
                }
            }

        }


        &__add{

            &__warning{
                margin: 10px 0  0 20px;
                color: rgba(255, 0, 0, 0.793);
               
            }

            &__newTask {
                border: none;
                height: 50px;
                width: 400px;
                border-radius: 50px;
                background-color: #D3F8F8;
                padding: 0 20px;

                &:focus-visible{
                    border: none;
                    outline: 2px solid $light-orange;
                }
            }

            &__addBtn{
                border: none;
                height: 50px;
                width: 70px;
                border-radius: 50px;
                margin-left: 8px;
                background-color: $light-orange;
                font-weight: 700;
                transition: 300ms;

                &:hover{
                    transform: scale(1.05);
                    background-color: $orange;
                    transition: 300ms;
                }
            }
        }

    }

    &__body {
        height: 70%;
        width: 100%;
        padding: 0 40px;
        overflow-y: scroll;


        &__task {
            width: 100%;
            height: 50px;
            background-color: $cream;
            border-radius: 50px;
            margin: 12px auto;
            @include dflex();
            flex-direction: row;
            justify-content: flex-start;
            position: relative;

            & svg{
                width: 20px;
                fill: rgba(54, 54, 54, 0.743);
            }


            &__check {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 5px solid $blue;
                margin: 5px;
            }


            &__content {
                display: inline-block;
                margin-left: 20px;
            }
        }
    }
}


.done{
    background: $blue;
}

.addbtnHover{
        transform: scale(1.05);
        background-color: $orange;
        transition: 300ms;
}

.more{
   width: 60px;
   height: 60px;
   background-color: $cream;
   position: absolute;
   box-shadow: 1px 1px 1rem rgb(82, 82, 82);
   right: -35px;
   top: 20px;
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   z-index: 100;
   display: none;
}

.remove , .edit{
    margin: 0;
    cursor: pointer;
}

.show{
    display: flex;
}

.svg{
    width: 30px;
    height: 30px;
    @include dflex();
    position: absolute;
    right: 20px;
}


@font-face {
    font-family: burger;
    src: url(../font/NewBurger.ttf);
}