.tasks {
    @include dflex();
    border-radius: 50px;
    box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.556);
    width: 75%;
    height: 80vh;
    background-color: $white;
    overflow: hidden;

    &__header {
        width: 100%;
        height: 30%;
        background-color: $blue;
        @include dflex();
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;



        &__date{
            height: 90%;
            position: relative;
            @include dflex();

            &__weekDay{
                font-size: 70px;
                font-weight: 700;
                text-align: center;
                color: rgba(255, 255, 255, 0.531);
                margin: 0;
                line-height: 1;

                & span{
                    font-size: 60px;
                }
            }


            &__dayMonth{
                position: absolute;
                z-index: 100;
                right: -30px;
                text-align: center;
                top: 33%;
                font-weight: 700;
                line-height: .9;

                &__day{
                    margin: 0;
                    font-size: 45px;
                    color: $orange;
                }

                &__month{
                    margin: 0;
                    font-size: 35px;
                    margin-left: 50px;
                    color: $light-orange;
                }
            }

        }


        &__add{

            &__newTask {
                border: none;
                height: 50px;
                width: 400px;
                border-radius: 50px;
                background-color: #D3F8F8;
                padding: 0 20px;

                &:focus-visible{
                    border: none;
                    outline: 2px solid $light-orange;
                }
            }

            &__addBtn{
                border: none;
                height: 50px;
                width: 70px;
                border-radius: 50px;
                margin-left: 8px;
                background-color: $light-orange;
                font-weight: 700;
            }
        }

    }

    &__body {
        height: 70%;
        width: 100%;
        padding: 0 40px;
        overflow-y: scroll;


        &__task {
            width: 100%;
            height: 50px;
            background-color: $cream;
            border-radius: 50px;
            margin: 12px auto;
            @include dflex();
            flex-direction: row;
            justify-content: flex-start;


            &__check {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 5px solid $blue;
                margin: 5px;
            }

            &__content {
                display: inline-block;
                margin-left: 20px;
            }
        }
    }
}