.theme-3 {

    //body
    background: linear-gradient(100deg, rgb(214, 222, 233), $gray-3);


    //app name
    & .appName {
        color: $dark-green-3;
    }


    //dock
    & .dock {
        background-color: white;
        color: rgb(42, 42, 42);

        &__todolist,
        &__notes,
        &__focus {
            background-color: $light-blue-3;
        }

        &__todolist {
            background-color: $green-3;
        }
    }




    //search
    & .search {
        &:focus-visible {
            outline: 2px solid $dark-green-3;
        }
    }


    //task section
    & .tasks {
        background-color: $white;

        &__header {
            background-color: $dark-green-3;

            &__date {
                &__weekDay {
                    color: rgba(255, 255, 255, 0.201);
                }

                &__dayMonth {
                    &__day {
                        color: $green-3;
                    }

                    &__month {
                        color: $green-3;
                    }
                }
            }


            &__add {
                &__newTask {
                    background-color: $gray-3;

                    &:focus-visible {
                        outline: 2px solid $dark-green-3;
                    }
                }

                &__addBtn {
                    background-color: $green-3;

                    &:hover {
                        background-color: rgb(0, 174, 0);
                    }
                }

            }


        }

        &__body {
            &__task {
                background-color: $gray-3;

                & svg {
                    fill: $dark-green-3;
                }

                &__check {
                    border-color: $light-blue-3;
                    ;
                }
            }
        }

    }


    & .done {
        background: $light-blue-3;
    }

    & .addbtnHover {
        background-color: rgb(0, 174, 0);
    }


    //tools section
    & .tools {
        background-color: $white;
        color: rgb(47, 47, 47);

        &__account {
            background-color: $gray-3;
        }

        &__progress {
            background-color: $dark-green-3;

            &__diagram {
                background-color: $gray-3;

                &__done {
                    background-color: $green-3;
                }
            }
        }

        &__themes,
        &__backgrounds {
            background-color: $gray-3;
        }
    }

    & .chooseProfile {
        background-color: $gray-3;
    }


    & .bars {
        fill: $dark-blue-2;
    }


    & .donebtn {
        background-color: $green-3;

        &:hover {
            background-color: rgb(0, 174, 0);
        }
    }
}



#theme-3{
    background: linear-gradient(to right ,$green-3 20% , $gray-3 20% 40%, $light-blue-3 40% 60%, $white 60% 80%,$dark-green-3 80%);
}