.theme-2 {

    //body
    background: linear-gradient(100deg, rgb(214, 222, 233), $blue-2);


    //app name
    & .appName {
        color: $dark-blue-2;
    }


    //dock
    & .dock {
        background-color: white;
        color: rgb(42, 42, 42);

        &__todolist,
        &__notes,
        &__focus {
            background-color: $light-blue-2;
        }

        &__todolist {
            background-color: $blue-2;
        }
    }




    //search
    & .search {
        &:focus-visible {
            outline: 2px solid $dark-blue-2;
        }
    }


    //task section
    & .tasks {
        background-color: $white;

        &__header {
            background-color: $blue-2;

            &__date {
                &__weekDay {
                    color: rgba(255, 255, 255, 0.312);
                }

                &__dayMonth {
                    &__day {
                        color: $orange-2;
                    }

                    &__month {
                        color: $orange-2;
                    }
                }
            }


            &__add {
                &__newTask {
                    background-color: $light-blue-2;

                    &:focus-visible {
                        outline: 2px solid $dark-blue-2;
                    }
                }

                &__addBtn {
                    background-color: $orange-2;

                    &:hover {
                        background-color: $orange;
                    }
                }

            }


        }

        &__body {
            &__task {
                background-color: $light-blue-2;

                & svg {
                    fill: $dark-blue-2;
                }

                &__check {
                    border-color: $blue-2;
                    ;
                }
            }
        }

    }


    & .done {
        background: $blue-2;
    }

    & .addbtnHover {
        background-color: $orange;
    }


    //tools section
    & .tools {
        background-color: $white;
        color: rgb(47, 47, 47);

        &__account {
            background-color: $light-blue-2;
        }

        &__progress {
            background-color: $blue-2;

            &__diagram {
                background-color: $light-blue-2;

                &__done {
                    background-color: $orange-2;
                }
            }
        }

        &__themes,
        &__backgrounds {
            background-color: $light-blue-2;
        }
    }

    & .chooseProfile {
        background-color: $light-blue-2;
    }


    & .bars {
        fill: $dark-blue-2;
    }
}



#theme-2{
    background: linear-gradient(to right ,$dark-blue-2 20% , $blue-2 20% 40%, $light-blue-2 40% 60%, $white 60% 80%,$orange-2 80%);
}