.tools {
    width: 22%;
    height: 78vh;
    background-color: $white;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.556);
    @include dflex();
    justify-content: space-between;
    color: rgb(47, 47, 47);

    @media screen and (max-width:900px) {
        display: none;
    }

    & svg{
        display: none;
    }

    &__account {
        height: 40%;
        width: 100%;
        background-color: $cream;
        @include dflex();

        &__name {
            font-weight: 600;
            cursor: pointer;
            font-size: 18px;



            &:hover {
                color: gray;
            }
        }

        &__image {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-image: url(../images/human.jpeg);
            background-size: cover;
            margin-top: 30px;
            margin-bottom: 10px;
        }

    }


    &__progress {
        width: 100%;
        height: 18%;
        background-color: $blue;
        @include dflex();


        &__title {
            margin: -15px 0 35px;
        }


        &__percent {
            align-self: flex-end;
            margin-right: 13%;
            font-size: 13px;
            margin-bottom: 5px;

            &__number {
                margin-right: 6px;
            }
        }


        &__diagram {
            width: 80%;
            height: 10px;
            border-radius: 50px;
            background-color: $light-blue;
            overflow: hidden;

            &__done {
                width: 0.5%;
                height: 100%;
                border-radius: 50px;
                background-color: $light-orange;
                transition: 500ms;
            }
        }
    }

    &__themes {

        &__title {
            margin: -15px 0 35px;
        }

        &__colors {
            @include dflex();
            flex-direction: row;
            justify-content: space-between;
            width: 80%;

            &__color {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: red;
            }

        }

    }

    &__backgrounds {

        &__title {
            margin: -15px 0 35px;
        }

        &__colors {
            @include dflex();
            flex-direction: row;
            justify-content: space-between;
            width: 80%;

            &__color {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: red;
            }

        }
    }

    &__themes,
    .tools__backgrounds {
        width: 100%;
        height: 20%;
        background-color: $cream;
        @include dflex();

    }

}



.chooseProfile {
    position: absolute;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 10000000;
    box-shadow: 1px 1px 6rem black;
    left: 20%;
    display: none;



    &__main {
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }

    &__images {
        width: 100%;
        height: 100px;
        display: flex;
        overflow-x: scroll;
        align-items: center;
        justify-content: space-between;

        & img {
            width: 100%;
            height: 100%;
            margin: 20px;
        }

    }
}

.donebtn {
    border: none;
    height: 50px;
    width: 70px;
    border-radius: 50px;
    margin-left: 8px;
    background-color: $light-orange;
    font-weight: 700;
    margin-top: 30px;
    transition: 300ms;

    &:hover {
        transform: scale(1.05);
        background-color: $orange;
        transition: 300ms;
    }
}

.showProfileBox {
    display: flex;
}


input::placeholder {
    font-family: burger;
}



.bars {
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 30px;
    display: none;
    fill: rgb(110, 110, 110);
    

    @media screen and (max-width:900px) {
        display: inline-block;
    }

}

.open{

    @media screen and (max-width:900px){
        display: flex;
        position: absolute;
        left: 50px;
        height: 93%;
        width: 30%;
        z-index: 1000;
        box-shadow: 2px 2px 10rem;
    
        & svg{
            display: inline;
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 20px;
    
            &:hover{
                transform: scale(1.1);
            }
        }

    }
  
}
