

// default theme

$blue: #7AD9EB ;
$light-blue : #B4E0E0;
$orange : #FC7F00;
$light-orange : #F69A3F;
$cream : #E5E9D6;
$white : white;


// --------------------------------------------------------------------------------