

// theme-1

$blue: #7AD9EB ;
$light-blue : #B4E0E0;
$orange : #FC7F00;
$light-orange : #F69A3F;
$cream : #E5E9D6;
$white : white;


// --------------------------------------------------------------------------------


// theme-2

$blue-2: #2E77AE ;
$light-blue-2 : #E0EAF5;
$dark-blue-2 : #0D2137;
$orange-2 : #FF8E2B;


// --------------------------------------------------------------------------------


// theme-3

$green-3: #0CCA4A ;
$dark-green-3 : #6E8387;
$light-blue-3 : #A4B8C4;
$gray-3 : #C8D3D5;
$white : white;


// --------------------------------------------------------------------------------


// theme-4

$light-green-4: #CAE7B9 ;
$yellow-4 : #F3DE8A;
$pink-4 : #EB9486;
$purple-4 : #7A7A94;
$blue-4 : #909FAB;


// --------------------------------------------------------------------------------


// theme-5

$dark-gray-5: #2d2d2d ;
$gray-5 : #ababab;
$pink-5 : 	#8d2663;
$black-5 : #000000;
$white : white;


